.box-container {
  padding: 20px;
  margin: 60px 0px 0px 80px;
  .box-wrapper {
    padding: 20px;
    border-radius: 4px;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  }
}
