.button-container {
  gap: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 21px;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 8px 12px;
  height: 37px;
  cursor: pointer;
}

.button-dropdown-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
}

.button-dropdown-name-container {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-wrap: nowrap;
}

.start-component {
  display: flex;
  align-items: center;
  justify-content: center;
}

.end-component {
  display: flex;
  align-items: center;
  justify-content: center;
}