.popover-container {
  position: relative;
}

.popover-content {
  position: absolute;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 1210;
  animation: popup-open 300ms;
  padding: 0px;
}

.popover-tooltip {
  position: absolute;
  height: 12px;
  width: 12px;
  background: white;
  z-index: 1211;
  transform: rotate(45deg);
  animation: popup-open 300ms;
}

@keyframes popup-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
