.custom-button-icon-container {
  width: 24px !important;
  height: 24px !important;
}

.custom-action-button > span {
  width: 24px;
  height: 24px;
}

.custom-action-button > span > svg {
  width: 24px;
  height: 24px;
}
.custom-action-button-warn > span > svg {
  width: 24px;
  height: 24px;
}

.custom-action-button path {
  fill: #394960 !important;
}

.custom-action-button:hover path {
  fill: #0055af !important;
}

.custom-action-button-warn path {
  fill: #394960 !important;
}

.custom-action-button-warn:hover path {
  fill: #DA1E28 !important;
}

.disabled-button > span {
  cursor: default !important;
}

.disabled-button:hover path {
  fill: #394960 !important;
}

.custom-button-wrapper {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-button-wrapper:hover {
  background-color: #ebf3fe;
}

.warn-button:hover {
  background-color: #FCE9EA !important;
}