:root{
    --color-primary-grey: #F8F9FB;
    --color-primary: #8834FF;
    --color-dark: #400790;
    --color-white: #FFFFFF;
    --greys-100: #04112B;
    --greys-200: #1F2B4D;
    --greys-300: #4B5767;
    --greys-400: #D9D9D9;
    --greys-500: #DEDEDE;
    --greys-600: #B4BAC7;
    --greys-700: #C3C8D4;
    --greys-800: #E5E7E9;
    --greys-900: #EAEAEA;
    --greys-1000: #FEFEFF;
    --greys-1100: #F8F9FB;
    --shadesofcards-300: rgba(210, 246, 234, 0.30);
    --shadow-medium-1: 0 2px 14px 0 rgba(0, 0, 0, 0.12);
    --shadow-medium-2: 0 0 18px 5px rgba(0, 0, 0, 0.06);
    --shadow-small: 0 0 16px 2px rgba(0, 0, 0, 0.06);
    --shadow-xs: 0 0 4px 0 rgba(0, 0, 0, 0.12);
    --badge-colors-700: #228C54;
    --card-background-gradient-1: linear-gradient(132deg, #FEFEFF 35.02%, rgba(220, 239, 248, 0.30) 86.97%);
    --card-background-gradient-2: linear-gradient(132deg, #FEFEFF 35.02%, rgba(228, 223, 244, 0.30) 86.97%);
    --card-background-gradient-3: linear-gradient(132deg, #FEFEFF 35.02%, rgba(210, 246, 234, 0.30) 86.97%);
    --card-background-gradient-4: linear-gradient(132deg, #FEFEFF 35.02%, #FFF6E5 86.97%);
}