.css-172wroj-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #4259ee;
  border-bottom-color: #4259ee;
}
.css-b6gfgp-MuiTabs-indicator {
  background-color: #4259ee;
}

.new-primary-color {
  color: #4259ee;
}

.css-makeStyles-unreadNotification-321 {
  background-color: #eceefd;
}

.new-primary-color-svg {
  fill: #4259ee;
}

.noti-container-new {
  font-family: "Manrope", sans-serif;
}
