.impact_drawer_container .impact_drawer_body {
  padding: 0px;
  overflow-y: unset;
}

.impact_drawer_container .impact_drawer_header {
  height: 50px;
  background: #ffffff;
}

.impact_drawer_container .impact_drawer_header .impact_drawer_heading {
  font-weight: 600;
}


// Keeping the drawer as well as Modal background faded when it is opened. Uncomment the below code to make it unfaded for both drawer and modal
// .MuiBackdrop-root.MuiModal-backdrop {
//   background-color: rgba(0, 0, 0, 0);
// }

.parent_container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.view_type_container {
  padding: 0 6px 0 6px;
}

.tab_spacing {
  margin-right: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.save-view-container {
  display: flex;
  justify-content: flex-start;
  gap: 4px;
  align-items: center;
  cursor: pointer;
  width: fit-content;

}

.typography_wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  background: #f3f9ff;
  padding: 8px 16px;
}

.box_container {
  padding: 0px 10px;
}

.panel-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
 
}