  .filter-button{
    display: flex;
    align-self: center;
    padding-top: 38px;
    justify-content: flex-end; 
  }

  .filter-wrapper{
    margin: 21px 30px;
  }

  .button {
    padding: 6px 16px;
    align-items: center;
    font-size: medium;
  }