@import "core/Styles/variables.scss";
@import "core/Styles/mixins.scss";


// Promotion Banner styles
.promotion-banner {
    position: absolute;
    bottom: pxToRem(26);
    margin-left: pxToRem(26);
    height: pxToRem(80);
    width: 100%;
    background: linear-gradient(90deg, #fef1cc 0%, #f3d7fe 100%);
    border-radius: 0 pxToRem(40) pxToRem(40) 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: pxToRem(16);
    padding: 9px 16px 0;
    z-index: 900;
    transition: all 0.2s ease-in-out; // Smooth transition effect
    overflow: hidden;

    @media screen and (max-width: 1500px) {
        height: pxToRem(64);
        gap: pxToRem(8);
    }

    &-logo {
        max-width: pxToRem(156);
        max-height: pxToRem(89);
        margin-left: 32px;
        z-index: 2;
        margin-top: pxToRem(12);

        @media screen and (max-width: 1500px) {
            max-height: pxToRem(57);
            margin-left: 5px;
        }
    }

    // Promotion text content wrapper
    &-content {
        display: flex;
        align-items: center;
        margin-top: -4px;

        @media screen and (max-width: 1440px) {
            margin-top: -8px;
        }

        .content-heading {
            line-height: pxToRem(27.32);
            font-size: pxToRem(20);
            font-weight: 700;
            font-family: "Manrope";
            letter-spacing: 0.48px;
            height: 60px;
            overflow: hidden;
            @media screen and (max-width: 1500px) {
                white-space: nowrap;
                font-size: pxToRem(16);
                height: 28px;
            }
            @media screen and (max-width: 1440px) {
                white-space: nowrap;
                font-size: pxToRem(12);
                height: 26px;
            }
            @media screen and (min-width: 1920px) {
                height: 25px;
            }
        }
 
        .content-text {
            line-height: pxToRem(21.86);
            font-family: "Manrope";
            font-size: pxToRem(16);
            letter-spacing: 0.48px;
            font-weight: 500;
            height: 50px;
            overflow: hidden;
            @media screen and (max-width: 1500px) {
                white-space: nowrap;
                font-size: pxToRem(12);
                height: 23px;
            }
            @media screen and (max-width: 1440px) {
                white-space: nowrap;
                font-size: pxToRem(10);
                height: 19px;
            }
            @media screen and (min-width: 1920px) {
                height: 22px;
            }
        }
    }

    a {
        background: #ffffff;
        border: 1px solid #4259ee;
        font-family: "Manrope";
        font-size: pxToRem(14);
        line-height: pxToRem(20);
        font-weight: 500;
        height: pxToRem(32);
        width: pxToRem(92);
        border-radius: pxToRem(8);
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #4259ee;
        margin-top: -4px;

        @media screen and (max-width: 1500px) {
            font-size: pxToRem(12);
            white-space: nowrap;
            height: pxToRem(28);
            width: pxToRem(88);
            margin-top: -8px;
        }
        @media screen and (max-width: 1440px) {
            height: pxToRem(26);
        }
    }

    // Background ring vector 1
    &-ring1 {
        position: absolute;
        opacity: 0.25;
        left: 0;
        top: 0;
    }

    // Background ring vector 2
    &-ring2 {
        opacity: 0.25;
        position: absolute;
        width: pxToRem(128);
        top: 0;
        right: 30%;
    }

    &.hidden {
        opacity: 0;
        z-index: -1;
    }
}

// Alignment for login page
.align-login {
    left: 0;
    width: 90.88%;
    bottom: pxToRem(26);
    @media screen and (max-width: 1500px) {
        width: 95%;
    }
        @media screen and (min-width: 1300px) and (max-width: 1699px) {
            .promotion-banner-logo {
                max-width: 5.75rem;
            }
        }
}

// Alignment for home page
.align-home {
    left: 4rem;
    max-width: 850px;
    position: fixed;
    @media screen and (max-width: 1500px) {
        max-width: pxToRem(680);
    }
}

.refer-close-button-div {
    display: flex;
    align-items: center;
    gap: pxToRem(12);
    @media screen and (max-width: 1500px) {
        align-items: flex-end;
    }
}

.close-banner-button {
    // padding: pxToRem(8);
    border-radius: pxToRem(8);
    background: $white;
    border: pxToRem(1) solid $royalblue;
    height: pxToRem(32);
    width: pxToRem(32);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: pxToRem(-4);
    @media screen and (max-width: 1500px) {
        height: pxToRem(28);
    }
    @media screen and (max-width: 1440px) {
        height: pxToRem(26);
    }
}

.minimized-banner {
    cursor: pointer;
    width: pxToRem(80);
    height: pxToRem(80);
    background: linear-gradient(90deg, #FFE69E 0%, #ECBBFF 100%);
    position: absolute;
    left: 0;
    bottom: pxToRem(26);
    margin-left: 90px;
    border-radius: pxToRem(12);
    overflow: hidden;
    transition: all 0.2s ease-in-out; // Smooth transition effect

    &-ring {
        width: 100%;
        height: 100%;
        opacity: 0.3;
        background: linear-gradient(90deg, #FFE69E 0%, #ECBBFF 100%);
        background-image: url("assets/home/promotionBgRings3.png");
    }
    &-icon {
        margin-left: 14px;
        margin-top: 14px;
        position: absolute;
        top: 0;
    }
    &.align-login {
        margin-left: pxToRem(26);
        bottom: pxToRem(26);
    }

    &.align-home {
        position: fixed;
    }

    &.hidden {
        opacity: 0;
    }

    animation: jump-shaking 1.83s infinite;

    @keyframes jump-shaking {
        0% {
            transform: translateX(0) rotate(0)
        }

        35% {
            transform: translateY(0) rotate(0)
        }

        85% {
            transform: translateY(0) rotate(0)
        }

        89% {
            transform: translateY(-2px) rotate(-17deg)
        }

        93% {
            transform: translateY(-3px) rotate(17deg)
        }

        98% {
            transform: translateY(-4px) rotate(-17deg)
        }

        100% {
            transform: translateY(0) rotate(0)
        }
    }
}

// Media query starts 


@media screen and (min-width: 1300px) and (max-width: 1699px){

    // .promotion-banner-logo {
    //     max-width: 5.75rem;
    // }

    .promotion-banner-content .content-heading{
        font-size: 14px;
        height: 22px;
    }
    .promotion-banner-content .content-text {
        font-size: 12px;
        height: 18px !important;
    }
    // .promotion-banner-content .content-text .align-home{
    //     height: 18px !important;
    // }
    .promotion-banner{
        gap: 6px;
    }
}


@media screen and (min-width: 1700px) and (max-width: 1920px){

    .promotion-banner-content .content-heading{
        font-size: 16px;
        height: 26px;
    }
    .promotion-banner-content .content-text {
        font-size: 14px;
        height: 22px !important;
    }
}
@media screen and (min-width: 1920px){
    .promotion-banner-content .content-heading{
        font-size: 16px;
        height: 26px;
    }
    .promotion-banner-content .content-text {
        font-size: 14px;
        height: 22px !important;
    }
}






