.MuiGrid-item {
  position: relative;
}
.separater {
  width: 1px;
  height: 18px;
  background-color: #d9dde7;
  position: absolute;
  bottom: 6px;
  left: 20px;
}

// Custom padding for checkbox group in the form group
.form-field-radio-group-element{
  padding: 8px;
}