.filter-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.switch {
  margin-left: 1em;
  margin-right: 1em;
}
.filter-col {
  width: 22%;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}