.ia-select-option--focused {
  border-radius: 8px;
  background-color: #f5f6fa !important;
}

.ia-select-container-v3-styled-menu:focus,
.ia-select-container-v3-styled-menu:focus-visible {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* .select-all {
  text-align: center;
  padding: 0 10px;
  text-decoration: underline;
  color: blue !important;
  background-color: inherit !important;
  cursor: pointer !important;
}
.css-1w1h4ki-option {
  background-color: #e5edf7 !important;
}
.select-all.disabled {
  color: #394960;
}

.counterStyle {
  position: absolute;
  right: 0px;
  padding: 0px 6px;
  background-color: rgb(235, 235, 235);
  border-radius: 8px;
  font-family: initial;
}

.valueContainerStyle {
  position: relative;
  width: 100%;
  display: flex;
}

.valueStyle {
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  line-height: normal;
} */
