{% include "header.html" %}
<div class="pagetitle">
	<h1>Bloats</h1>
</div>

<section class="section">
      <!-- <div class="row">
		  <a href='/create_default_roles' style='float:right; display: block; padding: 10px; margin: 20px; text-decoration:none;'>Create Default Roles</a>
		<div class="col-lg-12"> -->
			
		
			<div class="card">
				<div class="card-body">
					<!--h5 class="card-title">DataBases</h5>
					<p>Choose a database from list to manage.</p-->

					<!-- Table with stripped rows -->
					<table class="table datatable table-hover">
						<thead>
							<tr>
								<th>Database</th>
								<th>Schema</th>
								<th>Table</th>
								<th>Bloat</th>
								<th>Wasted Bytes</th>
								<th>Row Count</th>
								<!-- <th>Member Of</th> -->
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for row in bloats %}
								<tr>
									<td>{{row['current_database']}}</td>
									<td>{{row['schemaname']}}</td>
									<td>{{row['tablename']}}</td>
									<td>{{row['tbloat']}}</td>
									<td>{{row['wastedbytes']}}</td>
									<td>{{row['estimated_row_count']}}</td>
									<!-- <td>{{", ".join(row['memberof'])}}</td> -->
									<!--td><a href="/table-op/{{ row['schemaname'] }}.{{ row['tablename'] }}/vacuum" onclick='add_loader();'>Vacuum</a></td-->
									<td>
										<a href="/table-op/{{ row['schemaname'] }}.{{ row['tablename'] }}/vacuum" onclick="return confirm('Vacuum action may freeze the table for all the operations.\nWant to proceed ?') && add_loader()">
											<span class="badge bg-warning">Vacuum</span>
										</a>
										<a href="/table-op/{{ row['schemaname'] }}.{{ row['tablename'] }}/drop" onclick="return confirm('Drop action will drop the table without backup.\nWant to proceed ?') && add_loader()">
											<span class="badge bg-danger">Drop</span>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<!-- End Table with stripped rows -->

				</div>
			</div>
			
		</div>
	</div>
</section>

		<!-- <div class="container" style='width: 100%;'>
			{% if prevs %}
			<h1>Error 1:</h1>
			<table border='1' width='100%'>
				<tr>
					<th>Table</th>
					<th>Grantor</th>
					<th>Grantee</th>
					<th>Type</th>
				</tr>
				{% for row in prevs %}
				<tr>
					<td>{{row['tbl']}}</td>
					<td>{{row['grantor']}}</td>
					<td>{{row['grantee']}}</td>
					<td>{{row['privilege_type']}}</td>
				</tr>
				{% endfor %}
			</table>
			{% endif %}
		</div> -->
{% include "footer.html" %}
