.createNewPlan_wrapper {
  padding: 24px 23px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.createNewPlan_actions {
  align-self: flex-end;
}

.createNewPlan_form {
  padding: 24px 23px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}

.createNewPlan_form_actions {
  padding: 34px 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancelButton {
  margin-bottom: 10px;
}

.multi-select-container .ScrollCheck{
  overflow: unset;
  max-height:none;
  display:block;
}