.editSpinner {
  position: relative;
  top: -2px;
  left: -2px;
  position: relative;
  top: -2px;
  left: -2px;
}

.editSpinner .spinner {
  border-color: #fff;
  width: 14px !important;
  height: 14px !important;
  border-width: 2px;
  border-color: #fff;
  width: 14px !important;
  height: 14px !important;
  border-width: 2px;
}

.custom-bread-crumbs {
  display: flex;
  gap: 4px;
  align-items: flex-end;
}

.custom-bread-crumbs-container {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-shrink: 0;
}

.custom-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-link-label {
  text-decoration: none;
  color: #0055af;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.custom-arrow {
  color: #758490;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.plan-name {
  padding: 5px 3px 3px 0px;
  color: #0d152c;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid transparent;
}

.plan-name-view {
  padding: 5px 3px 3px 0px;
  color: #0d152c;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.plan-name:hover {
  border: solid #acacac 1px;
}

.edit-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
