// ::: THIS SHOULD BE REMOVED ONCE THE AG-GRID IS UPDATED TO THE LATEST VERSION :::
// This CSS is set to override the default icons of ag-grid as its overriding with import of differnt versions of ag-grid.

.ag-icon-aggregation::before {
  content: "\f101" !important;
}
.ag-icon-arrows::before {
  content: "\f102" !important;
}
.ag-icon-asc::before {
  content: "\f103" !important;
}
.ag-icon-cancel::before {
  content: "\f104" !important;
}
.ag-icon-chart::before {
  content: "\f105" !important;
}
.ag-icon-checkbox-checked::before {
  content: "\f106" !important;
}
.ag-icon-checkbox-indeterminate::before {
  content: "\f107" !important;
}
.ag-icon-checkbox-unchecked::before {
  content: "\f108" !important;
}
.ag-icon-color-picker::before {
  content: "\f109" !important;
}
.ag-icon-columns::before {
  content: "\f10a" !important;
}
.ag-icon-contracted::before {
  content: "\f10b" !important;
}
.ag-icon-copy::before {
  content: "\f10c" !important;
}
.ag-icon-cross::before {
  content: "\f10d" !important;
}
.ag-icon-csv::before {
  content: "\f10e" !important;
}
.ag-icon-cut::before {
  content: "\f10f" !important;
}
.ag-icon-desc::before {
  content: "\f110" !important;
}
.ag-icon-excel::before {
  content: "\f111" !important;
}
.ag-icon-expanded::before {
  content: "\f112" !important;
}
.ag-icon-eye-slash::before {
  content: "\f113" !important;
}
.ag-icon-eye::before {
  content: "\f114" !important;
}
.ag-icon-filter::before {
  content: "\f115" !important;
}
.ag-icon-first::before {
  content: "\f116" !important;
}
.ag-icon-grip::before {
  content: "\f117" !important;
}
.ag-icon-group::before {
  content: "\f118" !important;
}
.ag-icon-last::before {
  content: "\f119" !important;
}
.ag-icon-left::before {
  content: "\f11a" !important;
}
.ag-icon-linked::before {
  content: "\f11b" !important;
}
.ag-icon-loading::before {
  content: "\f11c" !important;
}
.ag-icon-maximize::before {
  content: "\f11d" !important;
}
.ag-icon-menu::before {
  content: "\f11e" !important;
}
.ag-icon-minimize::before {
  content: "\f11f" !important;
}
.ag-icon-next::before {
  content: "\f120" !important;
}
.ag-icon-none::before {
  content: "\f121" !important;
}
.ag-icon-not-allowed::before {
  content: "\f122" !important;
}
.ag-icon-paste::before {
  content: "\f123" !important;
}
.ag-icon-pin::before {
  content: "\f124" !important;
}
.ag-icon-pivot::before {
  content: "\f125" !important;
}
.ag-icon-previous::before {
  content: "\f126" !important;
}
.ag-icon-radio-button-off::before {
  content: "\f127" !important;
}
.ag-icon-radio-button-on::before {
  content: "\f128" !important;
}
.ag-icon-right::before {
  content: "\f129" !important;
}
.ag-icon-save::before {
  content: "\f12a" !important;
}
.ag-icon-small-down::before {
  content: "\f12b" !important;
}
.ag-icon-small-left::before {
  content: "\f12c" !important;
}
.ag-icon-small-right::before {
  content: "\f12d" !important;
}
.ag-icon-small-up::before {
  content: "\f12e" !important;
}
.ag-icon-tick::before {
  content: "\f12f" !important;
}
.ag-icon-tree-closed::before {
  content: "\f130" !important;
}
.ag-icon-tree-indeterminate::before {
  content: "\f131" !important;
}
.ag-icon-tree-open::before {
  content: "\f132" !important;
}
.ag-icon-unlinked::before {
  content: "\f133" !important;
}
.ag-icon-up::before {
  content: "\f134" !important;
}
.ag-icon-down::before {
  content: "\f135" !important;
}
.ag-icon-plus::before {
  content: "\f136" !important;
}
.ag-icon-minus::before {
  content: "\f137" !important;
}
.ag-icon-menu-alt::before {
  content: "\f138" !important;
}
.ag-icon-settings::before {
  content: "\f139" !important;
}
.ag-header-viewport {
  overflow: hidden
}