.right-side {
  width: 300px;
  background-color: #f5f6fa;
  padding: 30px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  .event-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    .event-name {
      margin-top: 10px;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      color: #0d152c;
    }
    .member-count {
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      color: #7a8294;
    }
  }
}
