.panelContainer [class~="panel-container"] {
  top: 55px;
}

.panelContainer [class~="ag-root-wrapper"] {
  box-shadow: none;
}

.recalculateHeading {
  margin-bottom: 10px;
  line-height: 1.235;
  letter-spacing: 0px;
  color: rgb(0, 0, 0);
  font-size: 0.875rem;
}

.recalculateAddVersionError {
  color: #da1e27;
  margin-top: 4px;
}
