
.hug-card-bottom-padding .ia-basic-table-layout.table-v32 .card-container.card-container {
  padding-bottom: 12px !important;
}

.ag-theme-alpine.hug-card-bottom-padding .ag-center-cols-viewport,
.ag-theme-alpine.hug-card-bottom-padding .ag-center-cols-container {
  min-height: unset !important;
}
.ag-theme-alpine.hug-card-bottom-padding .ag-center-cols-viewport {
  height: unset !important;
}

.ag-theme-alpine.hug-card-bottom-padding .ag-root-wrapper {
  box-shadow: 0 0 var(--Sizes-S-04, 4px) 0 rgba(0, 0, 0, 0.12);
}
