.bread-crumbs {
    display: flex;
    gap: 4px;
    align-items: center;
  }
  .icon {
    font-size: medium;
    color: #0055af;
  }
  
  .custom-link {
    text-decoration: none;
    color: #0055af;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
  }
  
  .arrow {
    color: #758490;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 400;
  }
  
  .bread-crumbs .arrow:last-child {
    display: none;
  }
  
  
  .last-container{
    color: #0D152C;
    font-size: 14px;
    font-weight: 500;
  }
  .last-container path{
    fill: #0D152C;
    font-size: 14px;
    font-weight: 500;
  }