.chart-container {
    height: 50%;
    width: 50%;
    border: 1px solid #e2ebf4;
    background-color: #fff;
    padding: 3%;
    margin: auto;
}
.title {
    color: #213040;
    margin: 0;
    padding: 0;
}