.bold-label {
  color: black;
  font-size: 0.85rem;
  display: block;
  font-weight: 700;
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
}
.drop-down-label {
  color: black;
  font-size: 0.85rem;
  display: block;
  font-weight: 700;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}

.drop-down-lable-margin{
  margin-top: 0.76rem !important;
}

.selling-period-text {
  width: 100px;
  text-overflow: ellipsis;
  margin-right: 60px;
  font-size: 14px;
}
.truncate-text {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.receiptHeader .css-1pcexqc-container {
  width: 15%;
}

.css-143eq9n-MuiTabs-indicator {
  background-color: #3D67DB !important;
}

.nonLinearFooter {
  font-size: 16px; 
}

.table.sticky {
  overflow: auto;
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 0px;
  }
}

.table.sticky:hover {
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2)
  }
}
