.m-t-28 {
    margin-top: 28px;
}

.pointer-events-none {
    pointer-events: none;
}

.color-black {
    color: inherit;

    * {
        color: inherit !important;
    }
}

.yellow-highlight {
    background: rgb(255,255,0.5);
}