.wedgeHeading {
  margin-right: 1rem;
}

#uploadWedge {
  display: none;
}

.choiceViewDiv {
  display: flex;
  border: solid 1px #a5b6c7;
  padding: 10px;
  align-items: center;
}

.choiceViewDiv .choiceLabel{
  font-size: 17px;
  margin-right: 1rem;
}

.choiceViewDiv .actionBtn {
  margin: 0px 10px;
  height: 25px;
  width: 25px;
  border: solid 1px #a5b6c7;
}

.choiceViewDiv .actionBtn .icon {
  color: #a5b6c7;
}

.choiceViewDiv .MuiOutlinedInput-root {
  height: 35px;
  width: 50px;
  margin-top: -4px;
}

.choiceViewDiv .MuiOutlinedInput-root input{
  text-align: center;
}

.hide_wedge { 
  opacity: 0.5;
}
